.footer {
  @include section-space;
  background: var(--background);

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-gap: 40px;

    @media only screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 600px) {
      grid-template-columns: 3fr repeat(1, 1fr);
    }
  }

  &__logo {
    display: block;
    width: 100%;

    &-box {
      width: 100px;
    }

    &-link {
      text-decoration: none;
      width: 100%;
      display: block;
    }
  }

  &__info {
    margin-top: var(--span-s);
    font-family: var(--family);
    font-size: var(--size-m);
    font-style: normal;
    font-weight: var(--weight-md);
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);
    max-width: 170px;
    @media only screen and (max-width: 600px) {
      font-size: calc(var(--size-s) - 1px);
      line-height: 23px;
    }

    &-box {
      @media only screen and (max-width: 600px) {
        grid-column-start: 1;
        grid-column-end: -1;
      }
    }
  }

  &__header {
    font-family: var(--family);
    font-size: calc(var(--size-s) - 1px);
    font-style: normal;
    font-weight: var(--weight-xxlg);
    line-height: 26px;
    letter-spacing: 6px;
    text-align: left;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: var(--span-s);
    @media only screen and (max-width: 600px) {
      font-size: calc(var(--size-xs) - 2px);
      line-height: 20px;
      margin-bottom: var(--span-xs);
    }

    span {
      position: relative;
      padding-bottom: 10px;
      @media only screen and (max-width: 600px) {
        padding-bottom: 6px;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: var(--pink);
        bottom: 0;
        left: 0;
      }
    }
  }

  &__list {
    list-style-type: none;
  }

  &__link {
    font-family: var(--family);
    font-size: calc(var(--size-s) - 1px);
    font-style: normal;
    font-weight: var(--weight-xlg);
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
    color: var(--white);
    display: inline-block;
    text-decoration: none;
    @media only screen and (max-width: 600px) {
      font-size: calc(var(--size-xs) - 2px);
      line-height: 20px;
    }
  }

  &__contact {
    @media only screen and (max-width: 600px) {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  &__socials {
    @media only screen and (max-width: 600px) {
      grid-column: 1 / -1;
    }
  }
}

.contact {
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-bottom: var(--span-xs);
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__text {
    margin-left: var(--span-s);
    font-family: var(--family);
    font-size: var(--size-m);
    font-style: normal;
    font-weight: var(--weight-sm);
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);
    @media only screen and (max-width: 600px) {
      font-size: var(--size-s);
      line-height: 23px;
    }
  }
}

.socials {
  &__list {
    list-style-type: none;
    display: flex;
    padding-top: var(--span-m);
    flex-wrap: wrap;
    align-items: center;
    @media only screen and (max-width: 600px) {
      padding-top: var(--span-s);
    }
  }

  &__item {
    padding-bottom: var(--span-l);
    @media only screen and (max-width: 600px) {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: var(--span-l);
      @media only screen and (max-width: 600px) {
        margin-right: var(--span-s);
      }
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;

    svg {
      @media only screen and (max-width: 600px) {
        width: 16px;
        height: 16px;
      }
    }
  }
}
