.header {
  &__navigation {
    padding-top: var(--span-2xl);
    padding-bottom: var(--span-l);
    height: 150px;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
      align-items: center;
      height: 100px;
    }
    @media only screen and (max-width: 600px) {
      padding-top: var(--span-m);
      height: 80px;
      padding-bottom: var(--span-m);
    }
  }

  &__logo {
    display: block;
    width: 100%;
    height: 100%;

    &-box {
      display: flex;
      align-items: center;
    }

    &-link {
      display: block;
      text-decoration: none;
      width: 100%;
      color: inherit;
      height: 100%;
      svg {
        height: 100%;
      }
    }
  }

  &__nav {
    align-self: center;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__link {
    display: inline-block;
    color: inherit;
    font-family: var(--family);
    font-size: var(--size-s);
    font-style: normal;
    font-weight: var(--weight-xxlg);
    line-height: 30px;
    letter-spacing: 2px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;

    &:not(:first-child) {
      padding: 0 calc(var(--span-s) + 5px);
      @media only screen and (max-width: 1024px) {
        padding: 0 calc(var(--span-xs) + 5px);
      }
    }

    &:first-child {
      padding-left: 0;
      padding-right: calc(var(--span-s) + 5px);

      @media only screen and (max-width: 1024px) {
        padding-right: calc(var(--span-xs) + 5px);
      }
    }

    &:last-child {
      padding-right: 0;
      padding-left: calc(var(--span-s) + 5px);
      @media only screen and (max-width: 1024px) {
        padding-left: calc(var(--span-xs) + 5px);
      }
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: inherit;

    span {
      display: block;
    }

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__text {
    font-family: var(--family);
    font-size: var(--size-s);
    font-style: normal;
    font-weight: var(--weight-xxlg);
    line-height: 30px;
    letter-spacing: 2px;
    text-align: left;
    margin-left: var(--span-s);
  }
}
