:root {
  --unit: 10px;

  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;

  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);

  //font weights
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;

  //colors
  --light: #ffffff;
  --white: #fcfcfc;
  --pink: #f61067;
  --overlay: #30124e;
  --header: #30233d;
  --paragraph: #776c82;
  --light-grey: #f4f4ed;
  --secondary-text: #5e239d;
  --background: #150433;
  --green: #00f0b5;
  --orange: #f67110;
  --testimonial-bg: #fcfcfc;
  --dark-grey: #9b94a3;

  //family

  --family: "M PLUS 1p", sans-serif;
  --family-2: "Noticia Text", serif;
}
